# Security and guardrails against installing malicious npm packages
engine-strict=true
minimum-release-age=4320
save-exact=true
node-linker=hoisted

only-built-dependencies[]=esbuild
only-built-dependencies[]=puppeteer